@import "mixin.scss";
@import "theme";

body {
  background-color: white;
}

.text-s1 {
  color: #333333;
  font-weight: bold;
}

.text-s2 {
  color: #333333;
  font-size: 15px;
  line-height: 25px;
}

.text-s3 {
  color: #333333;
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}

.text-s3:hover {
  color: $sue-theme-color;
}

.text-s4 {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}

.text-s4:hover {
  color: #3683d6;
}

.readme-icon {
  font-size: 60px;
}

.readme-title {
  margin-top: 20px;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #5D6D7E;
}

* {
  padding: 0px;
  margin: 0px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.ml20 {
  margin-left: 20px;
}


.mt20 {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.time-s {
  background-color: #ff6600;
  padding: 10px;
}

.blog-text-p {

  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  line-height: 40px;

}

.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
  //display: none;
}

.hidden-editor {
  opacity: 0;
  width: 0;
  height: 0;
}

.hidden-hint {
  opacity: 0;
  color: white;
}

.blog-server-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.active {
  background-color: #ff6600 !important;
}

.container {
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}

.blog-readme-begin {
  @include showbegin();
}

.blog-readme-end {
  @include showEnd();
}

.blog-dynamic-begin {
  @include showbegin();
}

.blog-dynamic-end {
  @include showEnd();
}

.blog-service-begin {
  @include showbegin();
}

.blog-service-end {
  @include showEnd();
}


pre{
  background-color: #EAF2F8;

  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;

  code{
    font-size: 19px;
    font-weight: bold;
    color: #333333;
    font-family: Arial;

  }
  overflow-x: auto;
}
code{
  background-color: #EAF2F8;
  padding: 5px;
  color: #1ABC9C;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  line-height: 40px;

}

blockquote{
  background-color:#34495E;

  color: white;
  font-weight: bold;

  //font-size: 20px;
  border-left:5px solid #839192;
  padding: 30px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    margin-top: 0px !important;
    margin-bottom: 0px !important;

  }

  //line-height: 20px;
}

ul{

  margin-top: 20px;
  li{
    padding: 10px;
    font-size: 18px;
    font-weight:bold;
  }
  margin-bottom: 20px;

}



.markdown-html{



  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    margin-top: 40px;
    margin-bottom: 40px;

  }

}
